<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>listaCliente</servlet-name>
        <servlet-class>servlet.listaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCliente</servlet-name>
        <servlet-class>servlet.ServletCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarCliente</servlet-name>
        <servlet-class>servlet.cadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>servlet.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>servlet.AlterarCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listaCliente</servlet-name>
        <url-pattern>/listaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCliente</servlet-name>
        <url-pattern>/ServletCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarCliente</servlet-name>
        <url-pattern>/cadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/AlterarCliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
