<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>servlet.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaCliente</servlet-name>
        <servlet-class>servlet.ListaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>servlet.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>servlet.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>servlet.ExcluirCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaCliente</servlet-name>
        <url-pattern>/ListaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/AlterarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
