<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>servlet.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaProduto</servlet-name>
        <servlet-class>servlet.listaProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarProduto</servlet-name>
        <servlet-class>servlet.cadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>servlet.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>servlet.ExcluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVendas</servlet-name>
        <servlet-class>servlet.ListarVendas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalharVenda</servlet-name>
        <servlet-class>servlet.DetalharVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarCliente</servlet-name>
        <servlet-class>servlet.PesquisarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarProduto</servlet-name>
        <servlet-class>servlet.PesquisarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaServlet</servlet-name>
        <servlet-class>servlet.VendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionario</servlet-name>
        <servlet-class>servlet.AlterarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarFuncionario</servlet-name>
        <servlet-class>servlet.cadastrarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFuncionario</servlet-name>
        <servlet-class>servlet.ExcluirFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarFuncionario</servlet-name>
        <servlet-class>servlet.ListarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFunc</servlet-name>
        <servlet-class>servlet.ServletFunc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaProduto</servlet-name>
        <url-pattern>/listaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarProduto</servlet-name>
        <url-pattern>/cadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>servlet.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaCliente</servlet-name>
        <servlet-class>servlet.ListaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>servlet.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>servlet.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>servlet.ExcluirCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaCliente</servlet-name>
        <url-pattern>/ListaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/AlterarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVendas</servlet-name>
        <url-pattern>/ListarVendas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalharVenda</servlet-name>
        <url-pattern>/DetalharVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarCliente</servlet-name>
        <url-pattern>/PesquisarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarProduto</servlet-name>
        <url-pattern>/PesquisarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaServlet</servlet-name>
        <url-pattern>/VendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionario</servlet-name>
        <url-pattern>/AlterarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarFuncionario</servlet-name>
        <url-pattern>/cadastrarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFuncionario</servlet-name>
        <url-pattern>/ExcluirFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarFuncionario</servlet-name>
        <url-pattern>/ListarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFunc</servlet-name>
        <url-pattern>/ServletFunc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/paginaNaoEncontrada.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/acessoProibido.jsp</location>
    </error-page>
</web-app>
